body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background: #111;
    color: white;
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

#contenedorProductos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

button {
    padding: 8px 15px;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.hidden {
    display: none;
}

.modal-content {
    background: white;
    margin: 100px auto;
    padding: 20px;
    width: 350px;
    position: relative;
}

.cerrar {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
}
