body {
  font-family: Arial;
  padding: 20px;
}

body.claro {
  background: #f7f7f7;
  color: #000;
}

body.oscuro {
  background: #1e1e1e;
  color: #fff;
}

.card {
  background: #fff;
  padding: 10px;
  margin: 10px 0;
}

body.oscuro .card {
  background: #2b2b2b;
}
