body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px
}

label {
    display: block;
    margin-top: 10px
}

select {
    padding: 6px;
    margin-bottom: 12px
}

.card {
    background: #fff;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
    margin-bottom: 12px
}